<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">终端机列表</div>
        </div>

        <div class="block-content collapse in">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>终端机编号</th>
                    <th>终端机名称</th>
                    <th>额度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>11089</td>
                    <td>福彩机器</td>
                    <td>579</td>
                    <td>管理游戏</td>
                </tr>
                <tr>
                    <td>11090</td>
                    <td>体彩机器</td>
                    <td>23</td>
                    <td>管理游戏</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>