<style>
    .ulList{list-style: none;display: block;margin:0;}
    .liList{float: left;width:20%;margin-bottom:20px}
    .liList a img{width: 100px; height: 100px;}
</style>


<div class="row-fluid">

    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">终端机监控
            </div>
            <div class="pull-right">
                <botton  class='btn btn-success' data-toggle="modal" ng-click="addTerminal()" data-target="#addTerminal" style="margin-top:0px;">创建<i class="icon-plus icon-white"></i></botton>
                &nbsp&nbsp&nbsp&nbsp<span class="badge badge-info">{{terminals.length}}</span>
            </div>
        </div>
        <div class="block-content collapse in">
            <ul class='ulList'>
                <li ng-cloak class='liList' ng-repeat="terminal in terminals" on-terminals-finished>
                    <a href="javascript:void(0)" class="thumbnail" data-toggle="modal" ng-click="editTerminal(terminal)" data-target="#addTerminal" >
                        <img  style="width: 100px; height: 100px;" ng-src="{{terminal.status|consStatus}}">
                        <div class="popover fade bottom in" style="top: 104px; left: 30px; display: block;">
                            <h3 class="popover-title">终端机编号: {{terminal.id}}</h3>
                            <div class="popover-content">{{terminal.status}}</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">待出票队列</div>
                <div class="pull-right"><span class="badge badge-info">17</span>
                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>游戏</th>
                        <th>期次</th>
                        <th>开奖号码</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>11选5</td>
                        <td>15010771</td>
                        <td>01,02,03,04,05</td>
                    </tr>
                    <tr>
                        <td>双色球</td>
                        <td>2014153</td>
                        <td>01,02,03,04,05,06,07</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">出票成功队列</div>
                <div class="pull-right"><span class="badge badge-info">812</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>游戏</th>
                        <th>期次</th>
                        <th>状态</th>
                        <th>销售数量</th>
                        <th>销售金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>大乐透</td>
                        <td>15001</td>
                        <td>已停售</td>
                        <td>2098</td>
                        <td>40993</td>
                    </tr>
                    <tr>
                        <td>双色球</td>
                        <td>2015001</td>
                        <td>已停售</td>
                        <td>165</td>
                        <td>3098</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>

</div>




<div id="addTerminal" class="modal fade" tabindex='-1'role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class="modal-dialog">
        <div class="modal-header">
            <button class="close" type='button' data-dismiss='modal'>
                <span aria-hidden='true'> × </span>
                <span class="sr-only">Close</span>
            </button>
            <h4 id="myModalLabel" class="modal-title">创建终端机</h4>
        </div>
        <div class="modal-body">
            <form action="addTerminal" id="form_sample_1" class="form-horizontal">
                <fieldset>
                    <div class="alert alert-error hide">
                        <button class="close" data-dismiss="alert"></button>
                        请确认所填项是否正确
                    </div>
                    <div class="alert alert-success hide">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="control-group">
                        <label class="control-label">终端机名称<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="terminalName" ng-model="terminal.terminalName" data-required="1" class="span6 m-wrap"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">终端机编号<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="id" ng-model="terminal.id"  data-required="1" class="span6 m-wrap"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏种类<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="gameCode" ng-model="terminal.gameCode"  data-required="1" class="span6 m-wrap"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">确认提交</button>
                        <button type="button" class="btn"  data-dismiss='modal'>Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="../vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets/form-validation.js"></script>

<script>
    jQuery(document).ready(function() {
        FormValidation.init();
        $("#addTerminal").modal('hide');
    });
</script>


