
<div class="row-fluid">
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">待出票队列</div>
                <div class="pull-right"><span class="badge badge-info">17</span>
                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>游戏</th>
                        <th>期次</th>
                        <th>数量</th>
                        <th>金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-cloak   ng-repeat="waitGame in waitQueen">
                        <td>{{waitGame.value.gameCode}}</td>
                        <td>{{waitGame.value.termCode}}</td>
                        <td>{{waitGame.value.count}}</td>
                        <td>{{waitGame.value.totalMoney}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
    <div class="span6">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">出票成功队列</div>
                <div class="pull-right"><span class="badge badge-info">812</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>游戏</th>
                        <th>期次</th>
                        <th>状态</th>
                        <th>销售数量</th>
                        <th>销售金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>大乐透</td>
                        <td>15001</td>
                        <td>已停售</td>
                        <td>2098</td>
                        <td>40993</td>
                    </tr>
                    <tr>
                        <td>双色球</td>
                        <td>2015001</td>
                        <td>已停售</td>
                        <td>165</td>
                        <td>3098</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>

</div>


<style>
    .ulList{list-style: none;display: block;margin:0;}
    .liList{float: left;width:20%;margin-bottom:20px}
    .liList a img{width: 100px; height: 100px;}
</style>

<div class="row-fluid">

    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">终端机监控
            </div>
            <div class="pull-right">
                <botton  class='btn btn-success' data-toggle="modal" ng-click="addTerminal()" data-target="#addTerminal" style="margin-top:0px;">创建<i class="icon-plus icon-white"></i></botton>
                &nbsp&nbsp&nbsp&nbsp<span class="badge badge-info">{{terminals.length}}</span>
            </div>
        </div>
        <div class="block-content collapse in">
            <ul class='ulList'>
                <li ng-cloak class='liList' ng-repeat="terminal in terminals">
                    <a href="javascript:void(0)" class="thumbnail" data-toggle="modal" ng-click="editTerminal(terminal)" data-target="#addTerminal" >
                        <img  style="width: 100px; height: 100px;" ng-src="{{terminal.status|consStatus}}">
                        <div class="popover fade bottom in" style="top: 104px; left: 30px; display: block;">
                            <h3 class="popover-title">终端机编号:<font color="red">{{terminal.id}}</font></h3>
                            <h3 class="popover-title">当前模式:<font color="red">{{terminal.status|consStatusDes}} </font></h3>
                            <div class="popover-content">待出票：{{terminal.waitCount}} 张<br/> 已成功出票：{{terminal.succCount}} 张</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>





<div id="addTerminal" class="modal fade"  tabindex='-1'role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class="modal-dialog">
        <div class="modal-header">
            <button class="close" type='button' data-dismiss='modal'>
                <span aria-hidden='true'> × </span>
                <span class="sr-only">Close</span>
            </button>
            <h4 id="myModalLabel" class="modal-title">创建终端机</h4>
        </div>
        <div class="modal-body">
            <form action="addTerminal" id="form_sample_1" class="form-horizontal" style="height: 500px;">
                <fieldset>
                    <div class="alert alert-error hide">
                        <button class="close" data-dismiss="alert"></button>
                        请确认所填项是否正确
                    </div>
                    <div class="alert alert-success hide">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="control-group">
                        <label class="control-label">终端机名称<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="terminalName" ng-model="terminal.terminalName" data-required="1" class="span6 m-wrap"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">终端机编号<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="id" ng-model="terminal.id"  data-required="1" class="span6 m-wrap"/>
                        </div>
                    </div>

                    <div class="control-group" ng-show="door">
                        <label class="control-label" >当前出票游戏</label>
                        <div class="controls">
                            <p class="btn btn-mini" ng-repeat="gameName in hadGame">{{gameName}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="multiSelect">游戏种类<span class="required">*</span></label>
                        <div class="controls">
                            <select multiple="multiple" name="gameCode"  id="multiSelect" class="chzn-select span4">
                               <option  ng-repeat="g in game" on-finish >{{g}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >当前终端机状态</label>
                        <div class="controls">
                            <p class="btn btn-mini">{{terminal.status|consStatusDes}}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="select01">终端机状态</label>
                        <div class="controls">
                            <select id="select01" class="chzn-select">
                                <option  ng-repeat="s in statusList" on-finish >{{s}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">确认提交</button>
                        <button type="button" class="btn"  data-dismiss='modal'>Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>



<link href="../vendors/chosen.min.css" rel="stylesheet" media="screen">
<script src="../vendors/chosen.jquery.min.js"></script>



<script type="text/javascript" src="../vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets/form-validation.js"></script>

<script>
    jQuery(document).ready(function() {
        FormValidation.init();
    });
</script>


