<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">票据查询</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <table>
                    <tr>
                        <td>
                            彩票ID：
                        </td>
                        <td>
                            <input type="text" ng-model="id"/>
                        </td>
                        <td>
                            游戏：
                        </td>
                        <td>
                            <input type="text" ng-model="gameCode"/>
                        </td>
                        <td>
                            期次：
                        </td>
                        <td>
                            <input type="text" ng-model="termCode"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-default" ng-click="query()">查询</button>
                        </td>
                    </tr>
                </table>
                <table style="margin-top: 10px" cellpadding="0" cellspacing="0" border="0"
                       class="table table-striped table-bordered" id="example">
                    <thead>
                    <tr>
                        <th>彩票ID</th>
                        <th>游戏名</th>
                        <th>期次</th>
                        <th>号码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX" ng-cloak ng-repeat="successTicket in successTickets">
                        <td>{{successTicket.id}}</td>
                        <td>{{successTicket.gameCode | consGameCodeDes}}</td>
                        <td>{{successTicket.termCode}}</td>
                        <td>{{successTicket.numbers}}</td>
                        <td>
                            <button class="btn btn-primary btn-mini" ng-click="printTicket(successTicket)">打印</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination">
                    <input type='hidden' id="count" ng-model="count"/>
                    <input type='hidden' id="curPage" ng-model="curPage"/>
                    <input type='hidden' id="limit" ng-model="limit"/>
                    <ul>
                        <li class="{{curPage<=1 | consPageBarDes}}">
                            <a href="javascript:void(0)"  ng-click="toPage(curPage-1)">上一页</a>
                        </li>
                        <li ng-repeat="number in pageNumbers" >
                            <a href="javascript:void(0)" ng-click="toPage(number)">{{number}}</a>
                        </li>

                        <li class="{{curPage>=count/limit| consPageBarDes}}">
                            <a href="javascript:void(0)" ng-click="toPage(curPage+1)">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>